@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

.main{
    background-color: rgb(100, 14, 150);
    color: azure;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
  }

.main-header{
    font-family: 'Acme', sans-serif;
    
}

.createUser-form label{
    color: whitesmoke !important;
    font-family: 'Acme', sans-serif;
    font-size: 20px !important;
  }