@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

@media only screen and (min-width: 768px) {
    p {padding: 30px;}
  }


.main{
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(233, 227, 240);
    color: rgb(32, 133, 133);
    flex-direction: column;
  }

.main-header{
    font-family: 'Acme', sans-serif;
    
}

.createUser-form label {
    color: rgb(32, 133, 133) !important;
    font-family: 'Acme', sans-serif;
    font-size: 25px !important;
  }